@import "./src/styles/bootstrap/scss/bootstrap";
$body-background: $songhan-color;
$brand-primary: #000000;
$primary-font-size: 12.5pt;
$secondary-font-size: $primary-font-size / 2.5pt;
$main-content-class: "card-title";
$songhan-color: #80cbd4

