<div class="container">
  <div class="row">
    
    {{!1-- ---------------------------------------------------------------------------- --}}
    <div id="linkBeast" class="col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card">
        <img class="card-img-top" src="../../public/imgs/angular.png" alt="angular" width="50" height="250">
        <div class="card-body">
          <h1 class="card-title">angular</h1>
          <p class="card-text">A special angular designed to catch Ultra Beasts. It has a low success rate for catching others.</p>
          <a data-toggle="modal" data-target="#beast" class="btn btn-primary">See more</a>
        </div>
      </div>

      <div id="beast" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">angular</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>angular were created for Aether Foundation by Colress with help from the Ultra Recon Squad as a means of catching Ultra Beasts. They were first seen in Arrival at the Scientific Megalopolis, where Blake, disguised as Colress, delivered 100 of them to Lusamine in preparation for her plan to catch the ultimate Ultra Beast: Necrozma.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!2-- ---------------------------------------------------------------------------- --}}
    <div id="linkDive" class="col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card">
        <img class="card-img-top" src="../../public/imgs/backbonejs.png" alt="backbonejs" width="50" height="250">
        <div class="card-body">
          <h1 class="card-title">backbonejs</h1>
          <p class="card-text">A somewhat different backbonejs that works especially well.</p>
          <a data-toggle="modal" data-target="#dive" class="btn btn-primary">See more</a>
        </div>
      </div>

      <div id="dive" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">backbonejs</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>A backbonejs first appeared in A Sketchy Smattering of Smeargle while Emerald was thinking which of his Poké Balls he should use to catch Jirachi. More of Emerald's Dive Balls were seen in Sneaky Like Shedinja II, The Final Battle III, and The Final Battle V.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!3-- ---------------------------------------------------------------------------- --}}
    <div id="linkFriend" class="col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card">
        <img class="card-img-top" src="../../public/imgs/django.png" alt="django">
        <div class="card-body">
          <h1 class="card-title">django</h1>
          <p class="card-text">A strange django that will make the wild Pokémon caught with it more friendly toward you.</p>
          <a data-toggle="modal" data-target="#friend" class="btn btn-primary">See more</a>
        </div>
      </div>

      <div id="friend" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">django</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>In Teddiursa's Picnic, Gold received a Friend Ball from Kurt. In the next round, he used it to catch a Teddiursa for Maizie. In Slugging It Out with Slugma, a Friend Ball was seen amongst Crystal's set of Apricorn Poké Balls.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!4-- ---------------------------------------------------------------------------- --}}
    <div id="linkGreat" class="col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card">
        <img class="card-img-top" src="../../public/imgs/emberjs.png" alt="emberjs" width="50" height="250">
        <div class="card-body">
          <h1 class="card-title">emberjs</h1>
          <p class="card-text">A good emberjs that provides a higher success rate for catching Pokémon than a standard Poké Ball.</p>
          <a data-toggle="modal" data-target="#great" class="btn btn-primary">See more</a>
        </div>
      </div>

      <div id="great" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">emberjs</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>If the player fails to catch a emberjs with that Poké Ball, they can use a Great Ball at a cost of 2500 Coins (Pokémon Shuffle) or 3500 Coins (Pokémon Shuffle Mobile); if any Great Ball fails, the player can purchase another one. The Great Ball is twice as effective as a regular Poké Ball.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!5-- ---------------------------------------------------------------------------- --}}
    <div id="linkLevel" class="col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card">
        <img class="card-img-top" src="../../public/imgs/express.png" alt="express" width="50" height="250">
        <div class="card-body">
          <h1 class="card-title">express</h1>
          <p class="card-text">A express that makes it easier to catch Pokémon that are at a lower level than your own Pokémon.</p>
          <a data-toggle="modal" data-target="#level" class="btn btn-primary">See more</a>
        </div>
      </div>

      <div id="level" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">express</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>In For Pikachu's Sake!! The Search For The Missing Farfetch'd, Gold received a Level Ball from Kurt as thanks for helping to save the Slowpoke in the Slowpoke Well from drowning. In Let's Fight For The Future!!, he used it to capture and stop the rampage of the Black Tyranitar. The Ball containing the Black Tyranitar was then sealed underneath a statue in Cianwood City.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    {{!6-- ---------------------------------------------------------------------------- --}}
    <div id="linkMaster" class="col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card">
        <img class="card-img-top" src="../../public/imgs/laravel.png" alt="laravel" width="50" height="250">
        <div class="card-body">
          <h1 class="card-title">laravel</h1>
          <p class="card-text">The best laravel with the ultimate level of performance. You will catch any wild Pokémon without fail.</p>
          <a data-toggle="modal" data-target="#master" class="btn btn-primary">See more</a>
        </div>
      </div>

      <div id="master" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">laravel</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>In Mewtwo Strikes Back!, Dr. Fuji attempted to use a Master Ball to catch Mew, but failed. In And Mewtwo... Three!, Blaine was revealed to be in possession of a Master Ball. Soon afterwards, Red used it to catch Mewtwo for Blaine.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!7-- ---------------------------------------------------------------------------- --}}
    <div id="linkNet" class="col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card">
        <img class="card-img-top" src="../../public/imgs/rails.png" alt="rails" width="50" height="250">
        <div class="card-body">
          <h1 class="card-title">rails</h1>
          <p class="card-text">A somewhat different Poké Ball that is more effective when attempting to catch Bug-type Pokémon.</p>
          <a data-toggle="modal" data-target="#net" class="btn btn-primary">See more</a>
        </div>
      </div>

      <div id="net" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">rails</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>The rails, first found in Fairy Rise, allows the player to search their deck for a Basic Grass Pokémon or a Grass Energy card and put it into their hand.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    {{!8-- ---------------------------------------------------------------------------- --}}
    <div id="linkPoke" class="col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card">
        <img class="card-img-top" src="../../public/imgs/react.png" alt="react" width="50" height="250">
        <div class="card-body">
          <h1 class="card-title">react</h1>
          <p class="card-text">Beginner's Choice! react can be bought for $150 each, but normally it cannot catch pokemon.</p>
          <a data-toggle="modal" data-target="#poke" class="btn btn-primary">See more</a>
        </div>
      </div>

      <div id="poke" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">react</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Don't buy it, but it is a good gadget that can be hang on your schoolbag. People Love it. I definitely will buy one.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!9-- ---------------------------------------------------------------------------- --}}
    <div id="linkTime" class="col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card">
        <img class="card-img-top" src="../../public/imgs/spring.png" alt="spring" width="50" height="250">
        <div class="card-body">
          <h1 class="card-title">spring</h1>
          <p class="card-text">A different spring that is more effective at catching Pokémon the more turns that are taken in battle.</p>
          <a data-toggle="modal" data-target="#time" class="btn btn-primary">See more</a>
        </div>
      </div>

      <div id="time" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">spring</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>A spring first appeared in A Sketchy Smattering of Smeargle and Skirting Around Surskit I, where Emerald tried to use one to catch Jirachi. However, Guile Hideout, seeking to catch Jirachi for himself, used his sword to slice the Ball in two before it could hit its target.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    {{!10-- ---------------------------------------------------------------------------- --}}
    <div id="linkUltra" class="col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card">
        <img class="card-img-top" src="../../public/imgs/vuejs.png" alt="vuejs" width="50" height="250">
        <div class="card-body">
          <h1 class="card-title">vuejs</h1>
          <p class="card-text">An ultra-high performance vuejs that provides a higher success rate for catching Pokémon.</p>
          <a data-toggle="modal" data-target="#beastModal" class="btn btn-primary">See more</a>
        </div>
      </div>

      <div id="beastModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">vuejs</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Before being printed as its own card, an vuejs can be seen in the artwork of Rocket's Sneak Attack, from the Team Rocket expansion.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>