<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/site.css">
  </head>

  <body>
      <h1>Input search term</h1>
      <p>This website is built for TV Maze API. You can search matching show by keywords that you want to find, or input a specific show id to find that show.</p>

      <form class="search-form" method="POST" action="/search">

        <label>
          searchTerm
          <input type="text" name="searchTerm" placeholder="Search Term" value="{{post.body}}">  <!-- {{post.body}} is for storing data without disappearing when people refresh page -->
        </label>
        <button type="submit">Submit search term</button>
      </form>
    
    {{{body}}}
  </body>

</html>