<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/css/styles.min.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <nav class="col-12 col-sm-2 col-md-2 col-lg-3">  <!-- navigation bar -->
          <ul class="nav">
            <li>
              <a href="#linkBeast">angular</a><br>
              <a href="#linkDive">backbonejs</a><br>
              <a href="#linkFriend">django</a><br>
              <a href="#linkGreat">emberjs</a><br>
              <a href="#linkLevel">express</a><br>
              <a href="#linkMaster">laravel</a><br>
              <a href="#linkNet">rails</a><br>
              <a href="#linkPoke">react</a><br>
              <a href="#linkTime">spring</a><br>
              <a href="#linkUltra">vuejs</a><br>
            </li>
          </ul>
        </nav>
        
        <div class="col-12 col-sm-10 col-md-10 col-lg-9">
          {{{body}}}   <!--all your other pages will be loaded into your "body" layout here -->
        </div>
      </div>
    </div>
    <script src="../../public/js/vendor.min.js"></script>
    
  </body>
</html>